@import "compass";
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);

body {
	font-family: 'Open Sans', sans-serif;
}

#loans-table {
	display: none;
}